$flexslider-font-path: "fonts";
$flexslider-font-name: "flexslider-icon";
$flexslider-font-file-name: "flexslider-icon";
$flexslider-default-duration: 1s;
$flexslider-default-easing: ease;
$flexslider-default-border-radius: 5px;
$flexslider-default-box-shadow-x-axis: 0;
$flexslider-default-box-shadow-y-axis: 1px;
$flexslider-default-box-shadow-blur: 2px;
$flexslider-default-box-shadow-color: rgba(0, 0, 0, 0.2);
$flexslider-default-box-shadow-inset: '';
$flexslider-margin: 0 0 60px;
$flexslider-bg: #fff;
$flexslider-border: 4px solid #fff;
$flexslider-border-radius: 4px;
$flexslider-box-shadow-x-axis: 0;
$flexslider-box-shadow-y-axis: 1px;
$flexslider-box-shadow-blur: 4px;
$flexslider-box-shadow-color: rgba(0, 0, 0, 0.2);
$flexslider-box-shadow-inset: '';
$flexslider-flex-viewport-max-height: 2000px;
$flexslider-flex-viewport-loading-max-height: 300px;
$flexslider-flex-control-thumbs: 5px 0 0;
$flexslider-flex-direction-nav-color: rgba(0, 0, 0, 0.8);
$flexslider-flex-direction-nav-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
$flexslider-flex-direction-nav-icon-color: rgba(0, 0, 0, 0.8);
$flexslider-flex-direction-nav-icon-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
$flexslider-flex-direction-nav-icon-prev: '\f001';
$flexslider-flex-direction-nav-icon-next: '\f002';
$flexslider-flex-pauseplay-icon-play: '\f003';
$flexslider-flex-pauseplay-icon-pause: '\f004';
